.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    table {
    border: 2px solid rgb(34, 60, 139);
    width: 1000px;
    height: 200px;
    border-collapse: collapse;
    }
    
    th {
    border-bottom: 1px solid black;
    font-size: larger;
    }
    
    td {
    text-align: center;
    font-size: large;
    }
    
    tr{
    border: solid;
    border-width: 1px 0;
    }