html,
body {
  padding: 0;
  margin: 0;
  font-family: AngicanText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
    
}

a {
  color: inherit;
  text-decoration: none;
}

/* Carousel {
  position: absolute;
  left: auto;
  width: 100px;
  height: 600px;
} */

.carousel-img{
  width: auto;
  height: 75vh;
  background-color: black;
  /* object-fit: scale-down; */
}

* {
  box-sizing: border-box;
}


